body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.buttons{
    transform: scale(1.5);
    top: 700px;
    position: absolute;
    z-index: 99999;
    left: 510px;
    display: none;
}
.button {
    margin: 10px;
}
#finalButton {
    display: none;
}